* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.itemSlide {
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    position: relative;
}

.caption {
    width: 100%;
    max-width: 650px;
    margin: auto;
}

.caption h2,
.caption p {
    color: #fff;
    font-family: sans-serif;
}

.caption h2 {
    margin-bottom: 20px;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.caption p {
    font-size: 18px;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.full-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-section p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
}